// Tables
table {
border-spacing: 0;
font-size: 0.857em;
}

th {
  padding: 0.50em 1em;
  background: lightslategrey;
  color: white;
  font-weight: bold;
}

td {
  padding: 0.250em 0.60em;
  border: 1px solid white;
  color: grey;
  text-align: left;
}

// Table rows
tr {
  &.odd {
    background: aliceblue;
  }
  &.even {
    background: white;
  }
}

// Table caption
caption {
  @include font-size(18px);
  color: lightslategrey;
  text-transform: uppercase;
}
